*{font-family:"Century Gothic";}

#table{width:100%;}
#table thead tr{background:grey; color:White;}
#table tr td, #table tr th{text-align:left;
						 			   margin: 10px}
#table tbody input{width:100%;}
#table img{cursor: pointer;}